{% extends 'Template/DashboardTemplateView.twig' %}

{% block title %}
    {{ "category delete"|title }}
{% endblock %}

{% block body %}
    <h2>Are you sure you want to delete the category : </h2>

    category name :
    <p><strong>{{ category.name }}</strong></p>

    category slug :
    <p><strong>{{ category.slug }}</strong></p>

    <h3>Post linked :</h3>
    <p>

    </p>
    <div class="collapse" id="CustomCategory">
        <div class="card card-body">
            <a  data-toggle="collapse" href="#CustomCategory" role="button" aria-expanded="false" aria-controls="CustomCategory">
                <span>Custom category select</span>
                <i class="float-right fas fa-times"></i>
            </a>
            {{ formStart(formCustom) }}
            {{ formBuild(formCustom) }}
            {{ formSubmit(formCustom, 'Delete', {class: "btn btn-danger"}) }}
            {{ formEnd(formCustom) }}
        </div>
    </div>
    <div id="custom">
        <div>
        </div>
        {{ formStart(form) }}
        <div class="float-right">
            <a class="font-weight-bold" data-toggle="collapse" href="#CustomCategory" role="button" aria-expanded="false" aria-controls="CustomCategory">
                custom
                <i class="fas fa-plus"></i>
            </a>
        </div>
        {{ formBuild(form) }}
        {{ formSubmit(formCustom, 'Delete', {class: "btn btn-danger"}) }}
        {{ formEnd(form) }}
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script>
        let collapse = $('#CustomCategory');
        let collapse_close = $('#CustomCategory');
        let custom = $('#custom');
        collapse.on('show.bs.collapse', function () {custom.hide(250)});
        collapse.on('hide.bs.collapse', function () {custom.show(250)});
    </script>
{% endblock %}