{% extends 'Template/DashboardTemplateView.twig' %}

{% block title %}
    {{ "new category"|title }}
{% endblock %}

{% set ipsum = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent maximus, mauris quis placerat lacinia, lectus nulla molestie metus, vel condimentum enim nisi et tortor. Suspendisse bibendum facilisis tellus at elementum. Quisque vel orci lectus. Vivamus nunc massa, placerat in vulputate ac, consequat vitae sem. Pellentesque iaculis iaculis justo, sed dapibus sem aliquet nec. Vivamus facilisis, nisi scelerisque pretium vestibulum, dui urna iaculis nisi, et placerat lacus odio vel arcu. Nam laoreet velit quis eros faucibus, nec elementum enim tempor. Nunc sed gravida nulla. Cras eget mauris in metus laoreet feugiat. Maecenas laoreet, orci lobortis feugiat egestas, metus ante dictum sapien, in sollicitudin tortor mi nec sem. Pellentesque suscipit, lorem nec commodo imperdiet, massa tortor feugiat lorem, id consequat lacus lorem eu dolor. Sed tellus eros, condimentum ut semper a, maximus sit amet dolor. Aliquam vitae libero id nunc pulvinar luctus. Nullam consectetur nibh ante, ut tempus lacus convallis vel. Nulla sodales facilisis volutpat." %}

{% block body %}
    {{ formStart(form) }}
    {{ formBuild(form) }}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmModal">
        Confirm
    </button>

    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmModalLabel">Confirmation of change</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to create new category ?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">no</button>
                        {{ formSubmit(form, 'yes', {class: "btn btn-primary"}) }}
                    </div>
                </div>
            </div>
        </div>
    {{ formEnd(form) }}
{% endblock %}