<!DOCTYPE html>
<head>
    <title>404</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Roboto:100,300,400,500,700,900" rel="stylesheet" />
    {{ css("404.css") }}
    {{ css("bootstrap.min.css") }}
    {{ css("main.css") }}
    {{ css('font-awesome.min.css') }}
    {{ css('animate.css') }}

</head>
<body class="bg-main">
    <div class="container">
        <div class="error-wrapper">
            <i class="fas fa-poop man-icon animated bounce"></i>
            <h3>404</h3>
            <p class="info">Oh! Page not found</p>
            <div class="home-btn">
                <a href="{{ generateUri('home.index') }}"><button type="button" class="btn btn-light btn-lg">Go Home</button></a>
            </div>
        </div>
    </div>
</body>
