{% extends 'Template/DashboardTemplateView.twig' %}

{% block title %}
    {{ "post"|title }}
{% endblock %}

{% block body %}
    <h1 class="h3 mb-2 text-gray-800">Information :</h1>
    <p class="mb-4">DataTables is a listing posts register in the blog, if you want to add some, viewer  <a target="_blank" href="">this pages</a>.</p>

    <a href="{{ generateUri('admin.posts.new') }}" class="btn btn-success btn-icon-split mb-2">
                                    <span class="icon text-white-50">
                                      <i class="fas fa-plus"></i>
                                    </span>
        <span class="text">New</span>
    </a>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Posts listing</h6>
        </div>

        <div class="card-body">
            <div class="table-responsive-sm">
                <div class="row">
                    <table class="table table-bordered" id="dataTable" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Slug</th>
                            <th>Content</th>
                            <th>create at</th>
                            <th>Update at</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>

                            {% for post in posts %}
                            <tr>
                                <td>{{ post.id }}</td>
                                <td>{{ post.name }}</td>
                                <td>{{ post.slug }}</td>
                                <td>{{ SelfCut(post.content , 0 ,30)  }}</td>
                                <td>{{ post.create_at|date("m/d/Y") }} <br> {{ post.create_at|date("H:i:s") }}</td>
                                <td>{{ post.update_at|date("m/d/Y") }} <br> {{ post.update_at|date("H:i:s") }}</td>
                                <td class="">
                                    <div >
                                        <a href="{{ generateUri('posts.show', {slug: post.slug, id: post.id}) }}"
                                                class=" mr-auto btn btn-success btn-circle btn-sm mt-1">
                                            <i class="far fa-eye"></i>
                                        </a>

                                        <a href="{{ generateUri('admin.posts.edit', {id: post.id}) }}"
                                                class="mr-auto btn btn-warning btn-circle btn-sm mt-1">
                                            <i class="fas fa-pen"></i>
                                        </a>

                                        <a href="{{ generateUri('admin.posts.delete', {id: post.id}) }}"
                                                class="mr-auto btn btn-danger btn-circle btn-sm mt-1">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        <tbody>
                    </table>
                </div>

                <div class="row">
                  <div class="col-sm-12 col-md-8">
                  </div>
                <div class="col-sm-12 col-md-4 float" style="display: flex; justify-content: flex-end">
                    {{ Pagination('bootstrap', dataPagination) }}
                </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}