<html lang="fr">
<head>
    {{ css("bootstrap.min.css") }}
    {{ css('font-awesome.min.css') }}
    {{ css('mainTemplate.css') }}

    <title>{% block title %} - {{ 'coockie'|title }}&nbsp;{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand lock" href="#">
                <i class="fas fa-cookie icon-unlock"></i>
                <i class="fas fa-cookie-bite icon-lock"></i>
             Coockie
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ generateUri('home.index') }}">Accueille</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ generateUri('posts.index') }}">Blog</a>
                </li>
            </ul>
        </div>
    </nav>
    {% block body %}
        {# body content here#}
    {% endblock %}
    {{ js('jquery-3.4.1.min.js') }}
    {{ js('bootstrap.min.js') }}
    {{ js('konami.js') }}
</body>
</html>